<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Public Groups</title>
</head>
  <body>
    <div class="topnav">
      <a href="/home">Home</a>
      <a href="/books">Books</a>
      <a href="/users">Users</a>
      <a class="active" href="groups">Groups</a>
      <a href="/tags">Tags</a>
      <div class="topnav-right">
        <a href="/logout">Logout</a>
      </div>
    </div>

    <div>
        <ul>
            {{#each body}}
                <li><a href="/groups/{{this._id}}">{{this.name}}</a></li>
                <form method="POST">
                    <button type="submit" formaction="/groups/addMember/{{this._id}}">Click to join this group!</button>
                </form>
            {{else}}
        </ul>
    </div>
    {{/each}}
