* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14pt;
}

body {
	background: rgb(245, 245, 245);
	font-family: Arial, Cambria, "Times New Roman", Times, serif;
}

main {
	max-width: 75%;
	margin: auto;
}

header {
	border-bottom: 1px solid #a4cfcf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	margin-bottom: 5px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.15rem;
}

h6 {
	font-size: 1.05rem;
}

p {
	font-size: 1rem;
	line-height: 2;
}

.post {
	width: 75%;
	border-bottom: 1px dashed #333;
}

.new-post-form {
	max-width: 300px;
}

.new-post-form .full-width-input {
	display: block;
	min-height: 3em;
	margin: 10px 0;
	width: 100%;
}

label {
	font-weight: bold;
}

.error-list li {
	color: #ff0000;
}
.error {
	color: darkred
}

.author-link,
.author-link:link {
	color: #228b22;
}

.author-link:visited {
	font-style: italic;
	color: saddlebrown;
}

.author-link:hover {
	font-style: normal;
	font-weight: 700;
}

.author-link:active {
	color: #ff0000;
}

.book, .user, .lists{
	background:rgb(233, 232, 232);
}

.book-rating {
	background-color: #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}


dt {
	width: 100%;
	font-weight: 700;
	float: left;
	background: rgb(136, 107, 216);
  }

  .topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }

  .topnav-right {
	  float: right;
  }
